body {
    background-color: #C7FFF9;
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.6;
}

h1 {
    color: #007BFF;
    text-align: center;
}

h2{
    text-align: center;
}

img {
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

a {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    color: #007BFF;
    text-decoration: none;
}

h3 {
    color: #007BFF;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #fff;
}

ul {
    list-style: square;
    margin-left: 30px;
}